/*CSS default*/
*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
}
/*Responsibilities*/
@media screen and (max-width: 767px) {
    h1{
        font-weight: 300;
        font-size: 20px;
    }
    header{
        font-size: 24px;
    }
    .nav-items{
        font-size: 12px;
    }
}
@media screen and (min-width: 768px),(max-width: 1023px) {
    h1{
        font-weight: 450;
        font-size: 30px;
    }
    header{
        font-size: 36px;
    }
    .nav-items{
        font-size: 18px;
    }
}
/*Default*/
html{
    scroll-behavior: smooth;
}
header{
    font-weight: 800;
    font-size: 48px;
    text-shadow: 0 0 4px orangered, 0 0 8px red;
}
h1{
    padding-top: 80px;
    font-weight: 600;
    font-size: 40px;
}
h2{
    color: black !important;
    padding: 10px;
}
a{
    text-decoration: none;
}
input{
    width: 80%;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    font-size: 16px;
    margin-top: 8px;
    padding: 8px;
}
input:focus{
    background-color: snow;
}
/*IDs*/
#Home{
    max-width: 1024px;
    margin: auto;
}
#Weather{
    padding-bottom: 24px;
}
/*Classes*/
.name{
    font-family: "Protest Guerrilla", sans-serif;
}
.weather{
    color: white;
    background-image: url("https://media.giphy.com/media/G0Odfjd78JTpu/giphy.gif");
    background-repeat: no-repeat;
    width: 400px;
    margin: 0px auto;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.233);
}
.info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 80px 50px;
}
.city-name{
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 8px;
}
.weather-state{
    font-size: 12px;
}
.temperature{
    font-size: 80px;
    font-weight: lighter;
    line-height: 1;
    position: relative;
}
.temperature::after{
    content: "o";
    position: absolute;
    font-size: 30px;
}
.additional-section{
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 12px;
    color: white;
}
.additional-section .row{
    margin-bottom: 4px;
    display: flex;
}
.additional-section .row .item{
    display: flex;
    flex-direction: column;
    flex: 2;
}
.additional-section .row .item .label {
    font-weight: bold;
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    position: fixed;
    width: 100%;
}
.nav-items{
    float: left;
    padding: 16px 20px;
    height: 100%;
    font-size: 24px;
}
.header-right{
    float: right;
}
.nav-items:hover{
    background-color: lightgray;
}
.image-desc{
    opacity: 0.5;
    padding-top: 16px;
}
.website-desc{
    padding: 16px;
}
.center{
    text-align: center;
}
.justify{
    justify-content: space-evenly;
}
.footer{
    background-color: lightblue;
    border-radius: 4px;
}
.contact{
    color: white !important;
}
.resize{
    width: 25%;
    height: 25%;
}